#cs1300-gallery {
  background-color: #612a97;
}

.gallery-item-container {
  display: flex;
  flex-direction: center;
  flex-direction: space-around;
  flex-direction: space-between;/* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  flex-wrap: wrap;
} 

.gallery-item{
  width: 15rem;
  height: auto;
}